# Sentiment classification of YT comments/ tweets/ reviews

In [1]:
import pandas as pd
import regex as re
import unidecode

In [2]:
from textblob import TextBlob
import nltk
from nltk.corpus import opinion_lexicon
from nltk.tokenize import treebank

In [ ]:
import warnings
warnings.filterwarnings('ignore')

## Loading raw data

In [ ]:
# did these separately, so wrote the code as such
# comment those not needed

# for yt-data
yt_data = pd.read_csv('raw_data/yt-comment-data2.csv')
yt_data.drop('id',axis=1,inplace=True)
yt_data.rename(columns={'comments': 'raw_content'}, inplace=True)
yt_data['source'] = 'yt'

# for twitter data
tw_data = pd.read_csv('raw_data/twitter.csv')
tw_data.drop(columns=['timestamp','query'],axis=1,inplace=True)
tw_data = tw_data[(tw_data['twitterProfile'] != 'https://twitter.com/henry_education')
 & (tw_data['twitterProfile'] != 'https://twitter.com/henryharvin_in')]
tw_data.rename(columns={'content': 'raw_content'}, inplace=True)
tw_data['source'] = 'tw'

# for trust pilot data
tp_data = pd.read_csv('raw_data/trust-pilot.csv')
tp_data['content'] = tp_data['Content1'].fillna(tp_data['Content'])
tp_data['info'] = tp_data['Info1'].fillna(tp_data['Info'])
tp_data = tp_data[['info', 'content']]
tp_data.rename(columns={'content': 'raw_content'}, inplace=True)
tp_data['source'] = 'tp'

#data = yt_data.copy() # replace for separate classification
#data

In [ ]:
# or concat to classify together
data = pd.concat([yt_data[['raw_content', 'source']],
                  tw_data[['raw_content', 'source']],
                  tp_data[['raw_content', 'source']]])
#data

                                           raw_content source
0    First like bro !!! Let&#39;s gooo ! Python for...     yt
1       4kt\r<br><a href="http://vun.fyi/">vun.fyi</a>     yt
2    <a href="http://vog.fyi/">vog.fyi\r</a><br>del...     yt
3       v22\r<br><a href="http://vun.fyi/">vun.fyi</a>     yt
4       qzp\r<br><a href="http://vun.fyi/">vun.fyi</a>     yt
..                                                 ...    ...
212  Thier attitude chnages once you pay the fees a...     tp
213  Henry Harvin offers 2 courses - Business Analy...     tp
214  Worked there as an Intern for a month.Pros: Ni...     tp
215  I really loved Henry Harvin's Content Writing ...     tp
216  These guys are very unprofessional, don't have...     tp

[1450 rows x 2 columns]

## Cleaning data:

In [ ]:
def clean_text(text):
    
    #lower-case
    text=text.lower()
    
    #remove handles, url's
    text= re.sub(r'@\S+', '',text)
    text= re.sub(r'http\S+', '',text) 
    text= re.sub(r'pic.\S+', '',text)
    
    # removing #tags 
    #text= re.sub(r'#\S+', '',text)
    
    # replace unidecode characters
    text=unidecode.unidecode(text)
      
    # regex only keeps characters
    text= re.sub(r"[^a-zA-Z+']", ' ',text)
    
    #removing 'br' 'href' html
    text= re.sub(r'br', '',text)
    text= re.sub(r'href', '',text)
    
    # keep words with length>1 only
    text=re.sub(r'\s+[a-zA-Z]\s+', ' ', text+' ')
    
    # regex removes repeated spaces, strip removes leading and trailing spaces
    text= re.sub(r"\s[\s]+", " ",text).strip()
    
    # keep words with length>1 only
    text=re.sub(r'\s+[a-zA-Z]\s+', ' ', text+' ')
    
    return text

In [ ]:
data.drop_duplicates(inplace=True)
data['content'] = data['raw_content'].apply(lambda x: clean_text(x))
#data

                                           raw_content  ...                                            content
0    First like bro !!! Let&#39;s gooo ! Python for...  ...               first like let gooo python for life
1       4kt\r<br><a href="http://vun.fyi/">vun.fyi</a>  ...                                                kt
2    <a href="http://vog.fyi/">vog.fyi\r</a><br>del...  ...                                      a delightful
3       v22\r<br><a href="http://vun.fyi/">vun.fyi</a>  ...                                                 v
4       qzp\r<br><a href="http://vun.fyi/">vun.fyi</a>  ...                                               qzp
..                                                 ...  ...                                                ...
164  Henry Harvin offers 2 courses - Business Analy...  ...  henry harvin offers courses business analytics...
165  Worked there as an Intern for a month.Pros: Ni...  ...  worked there as an intern for month pros nice ...
166  I really loved Henry Harvin's Content Writing ...  ...  i really loved henry harvin's content writing ...
167  These guys are very unprofessional, don't have...  ...  these guys are very unprofessional don't have ...
168  i attended a program on six sigma black belt t...  ...  i attended program on six sigma black belt tra...

[1257 rows x 3 columns]

In [ ]:
# final cleaning on content

# stripping spaces
data['content'] = data['content'].apply(lambda x: x.strip())
# only taking text with greater than 3 letters after cleaning
data = data[data['content'].apply(lambda x: len(x) > 3)]
#data

                                           raw_content  ...                                            content
0    First like bro !!! Let&#39;s gooo ! Python for...  ...                first like let gooo python for life
2    <a href="http://vog.fyi/">vog.fyi\r</a><br>del...  ...                                       a delightful
5                   can you give your word file link ?  ...                   can you give your word file link
6                          1st view love from nepal ðŸ‡³ðŸ‡µ  ...                            st view love from nepal
7    What&#39;s fee of Complete digital marketing c...  ...      what fee of complete digital marketing course
..                                                 ...  ...                                                ...
164  Henry Harvin offers 2 courses - Business Analy...  ...  henry harvin offers courses business analytics...
165  Worked there as an Intern for a month.Pros: Ni...  ...  worked there as an intern for month pros nice ...
166  I really loved Henry Harvin's Content Writing ...  ...  i really loved henry harvin's content writing ...
167  These guys are very unprofessional, don't have...  ...  these guys are very unprofessional don't have ...
168  i attended a program on six sigma black belt t...  ...  i attended program on six sigma black belt tra...

[1242 rows x 3 columns]

## Sentiment Classification:

### Polarity, Subjectivity & Sentiment using TextBlob

In [ ]:
# function to get sentiment scores 
def sentiment_scores(text, pol=None, subj=None):
    
    if pol is None:
        pol = []
    if subj is None:
        sunj = []
        
    #using textblob for scores    
    sent = TextBlob(text)
    pol.append(sent.sentiment.polarity)
    subj.append(sent.sentiment.subjectivity)
    
    return pol, subj

In [ ]:
# function to return polarity, subjectivity
def list_scores(lst):
    
    pol = []
    subj = []
    
    for i in lst:
        pol, subj = sentiment_scores(i, pol, subj)
        
    return pol, subj

polarity, subjectivity = list_scores(data['content'])

In [ ]:
# dataframe with results of textblob analysis
sentiment_data = data[['source', 'content']].copy()
sentiment_data['tb_polarity'] = polarity
sentiment_data['tb_subjectivity'] = subjectivity
#sentiment_data

    source  ... tb_subjectivity
0       yt  ...        0.333333
2       yt  ...        1.000000
5       yt  ...        0.000000
6       yt  ...        0.600000
7       yt  ...        0.200000
..     ...  ...             ...
164     tp  ...        0.406034
165     tp  ...        0.743506
166     tp  ...        0.725000
167     tp  ...        0.360000
168     tp  ...        0.650000

[1242 rows x 4 columns]

Using 'pol < 0' for negative results in a lot of false negative sentiments <br>
Use a custom threshold if possible <br>
Edit: later comparing with other sentiment models

In [ ]:
# assign sentiment based on polarity
def decode_sentiment(pol,neg_th=0,pos_th=0):
    if pol < neg_th:
        return 'Negative'
    elif pol > pos_th:
        return 'Positive'
    return 'Neutral'

In [ ]:
sentiment_data['tb_sentiment'] = sentiment_data['tb_polarity'].apply(lambda x: decode_sentiment(x))
#sentiment_data

    source  ... tb_sentiment
0       yt  ...     Positive
2       yt  ...     Positive
5       yt  ...      Neutral
6       yt  ...     Positive
7       yt  ...     Positive
..     ...  ...          ...
164     tp  ...     Positive
165     tp  ...     Positive
166     tp  ...     Positive
167     tp  ...     Negative
168     tp  ...     Positive

[1242 rows x 5 columns]

In [ ]:
# checking negative sentiments
#sentiment_data[sentiment_data['tb_sentiment']=='Negative']

     source  ... tb_sentiment
27       yt  ...     Negative
165      yt  ...     Negative
421      yt  ...     Negative
572      yt  ...     Negative
588      yt  ...     Negative
747      yt  ...     Negative
775      yt  ...     Negative
811      yt  ...     Negative
814      yt  ...     Negative
834      yt  ...     Negative
838      yt  ...     Negative
874      yt  ...     Negative
935      yt  ...     Negative
941      yt  ...     Negative
946      yt  ...     Negative
948      yt  ...     Negative
955      yt  ...     Negative
969      yt  ...     Negative
978      yt  ...     Negative
984      yt  ...     Negative
1016     yt  ...     Negative
1129     yt  ...     Negative
21       tw  ...     Negative
38       tw  ...     Negative
52       tw  ...     Negative
62       tw  ...     Negative
65       tw  ...     Negative
99       tw  ...     Negative
21       tp  ...     Negative
24       tp  ...     Negative
58       tp  ...     Negative
63       tp  ...     Negative
64       tp  ...     Negative
65       tp  ...     Negative
66       tp  ...     Negative
130      tp  ...     Negative
167      tp  ...     Negative

[37 rows x 5 columns]

### Sentiment classification using NLTK:

In [ ]:
#nltk.download('opinion_lexicon') if not done already

# return sentiment of comment based on sentiment of each token
def nltk_sentiment(sentence):
    tokenizer = treebank.TreebankWordTokenizer()
    pos_words = 0
    neg_words = 0
    tokenized_sent = [word.lower() for word in tokenizer.tokenize(sentence)]

    x = list(range(len(tokenized_sent)))
    y = []

    # getting sentiment of each token using 
    for word in tokenized_sent:
        if word in opinion_lexicon.positive():
            pos_words += 1
            y.append(1)  # positive
        elif word in opinion_lexicon.negative():
            neg_words += 1
            y.append(-1)  # negative
        else:
            y.append(0)  # neutral

    # returns sentiment based on count of pos_words/neg_words
    if pos_words > neg_words:
        return "Positive"
    elif pos_words < neg_words:
        return "Negative"
    elif pos_words == neg_words:
        return "Neutral"

In [ ]:
# return list of sentiments of all content
def list_nltk(lst):
    
    pol = []
    
    for i in lst:
        pol.append(nltk_sentiment(i))
        
    return pol

In [ ]:
nltk_pol = list_nltk(data['content'])

In [ ]:
# dataframe with all nltk analysis
nltk_data = data.copy()
nltk_data['sentiment'] = nltk_pol
#nltk_data

In [ ]:
# checking negative sentiments
nltk_data[nltk_data['sentiment']=='Negative']

### Comparing sentiment results

In [ ]:
# comparing results of textblob and nltk
compare_data = data.copy()
compare_data['tb_sentiment'] = sentiment_data['tb_sentiment']
compare_data['nltk_sentiment'] = nltk_data['sentiment']

#compare_data

In [ ]:
compare_data['sentiment'] = compare_data['tb_sentiment']

In [ ]:
# using comparison of textblob and nltk to choose best sentiment option
def tb_nltk_sentiment(df):
    
    # lists to iterate
    tb_sent = list(df['tb_sentiment'])
    nltk_sent = list(df['nltk_sentiment'])
    comments = list(df['content'])
    sentiments = []
    
    # these modifications are to classify questions as neutral
    questions = ['what', 'who', 'why', 'when', 'is', 'how', 'can']
    thanks = ['thank', 'thanks', 'thankyou', 'thanku']
    
    # sentiments
    for i in range(len(comments)):
        # giving questions 'Neutral' sentiment
        if comments[i].split(' ')[0] in questions:
            sentiments.append('Neutral')
        # giving comments of thanks 'Positive' sentiment
        elif comments[i].split(' ')[0] in thanks:
            sentiments.append('Positive')

        # sentiments based on comparison, fit to reduce errors
        elif tb_sent[i] == nltk_sent[i]:
            sentiments.append(nltk_sent[i])
        elif (tb_sent[i] == 'Negative'):
            if (nltk_sent[i] == 'Neutral'):
                sentiments.append('Negative')
            else:
                sentiments.append('Neutral')
        
        elif (nltk_sent[i] == 'Neutral'):
            sentiments.append('Positive') 
        else:
            sentiments.append(nltk_sent[i])
    
    # adding column to dataframe
    df['sentiment'] = sentiments
    
    return df

In [ ]:
compare_data = tb_nltk_sentiment(compare_data)
#compare_data

In [ ]:
# checking negative sentiment comments
#(compare_data[compare_data['sentiment'] == 'Negative'])

In [ ]:
# combining results to sentiment_data dataframe
sentiment_data['nltk_sentiment'] = compare_data['nltk_sentiment']
sentiment_data['final_sentiment'] = compare_data['sentiment']

## Write to file

In [ ]:
# write to csv file
sentiment_data.to_csv('output/sentiment.csv',index=False)